<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragment/front_fragment :: head(~{::title})">
    <title>何年の再遇见-分类管理</title>
</head>

<body>



<!-- 导航部分 -->
<nav th:replace="fragment/admin_fragment :: navigation(3)"></nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/categories/edit}" class="item">添加分类</a>
            <a th:href="@{/admin/categories}" class="active blue item">分类列表</a>
        </div>
    </div>
</div>

<!-- 内容部分 -->
<div class="m-padded-tb-large">
    <div class="ui container">
        <!-- 错误提示代码 -->
        <div class="ui success message m-box-shadow" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">操作提示：</div>
            <p th:text="${message}"></p>
        </div>
        <!-- class="ui compact celled table" 这个样式有边框线，compact 表示紧凑一点 -->
        <table class="ui blue table m-box-shadow">
            <thead>
            <tr style="text-align: center">
                <th>序号</th>
                <th>分类名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!-- iterStat 是固定写法 -->
            <tr th:each="category,iterStat : ${page.content}"  style="text-align: center">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${category.name}">Java 学习</td>
                <td>
                    <a th:href="@{/admin/categories/{id}/edit(id=${category.id})}" class="ui basic mini teal button">编辑</a>
                    <a th:href="@{/admin/categories/{id}/delete(id=${category.id})}" class="ui basic mini red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3" style="text-align: center;" th:if="${page.totalPages} > 1">
                    <div class="ui pagination menu">
                        <a th:href="@{/admin/categories/(page=${page.number} - 1)}" class="item" th:unless="${page.first}">上一页</a>
                        <a th:href="@{/admin/categories/(page=${page.number} + 1)}" class="item" th:unless="${page.last}">下一页</a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- 页面底部 -->
<footer th:replace="fragment/front_fragment :: footer"></footer>
<th:block th:replace="fragment/front_fragment :: script"></th:block>
<script>
    $('.menu.toggle').click(function() {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    // 消息提示关闭初始化
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });
</script>
</body>
</html>
