<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="fragment/front_fragment :: head(~{::title})">
		<title>何年の再遇见-博客首页</title>
	</head>
	<body>
		<!-- 导航部分 -->
		<nav th:replace="fragment/front_fragment :: navigation(1)"></nav>
		
		<!-- 内容部分 -->
		<div class="m-padded-tb-large">
			<div class="ui container">
				<div class="ui stackable grid">
					<!-- 左侧部分 分类、标签等 -->
					<div class="five wide column">
						<!-- 分类 -->
						<div class="ui segments m-box-shadow">
							<div class="ui segment center aligned">
								<div class="ui item m-text-thin m-text-spaced m-opacity-tiny">
									<div class="column"><i class="idea yellow icon"></i>博客文章分类</div>
								</div>
							</div>
							<div class="ui teal segment">
								<div class="ui relaxed list">
									<div class="item" th:each="type : ${types}" style="padding: 4px 0px;">
										<div class="content">
											<a th:href="@{/categories/{id}(id=${type.id})}" class="header" style="color: black !important;font-weight: lighter;">
												[[${type.name}]]
												<div class="ui teal mini tag label" style="float: right;padding: 5px 12px;">[[${#arrays.length(type.blogs)}]]</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
		
						<!-- 标签 -->
						<div class="ui segments m-margin-top-large m-box-shadow">
							<div class="ui segment center aligned">
								<div class="ui item m-text-thin m-text-spaced m-opacity-tiny">
									<div class="column"><i class="tags orange icon"></i>博客文章标签</div>
								</div>
							</div>
							<div class="ui teal segment">
								<a th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic label m-margin-tb-tiny" th:each="tag : ${tags}">
									[[${tag.name}]]
									<!--<div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>-->
								</a>
							</div>
						</div>
		
						<!-- 最新推荐文章 -->
						<div class="ui segments m-margin-top-large m-box-shadow">
							<div class="ui segment center aligned">
								<div class="ui item m-text-thin m-text-spaced m-opacity-tiny">
									<div class="column"><i class="bookmark red icon"></i>最新推荐文章</div>
								</div>
							</div>
							<div class="ui segment teal">
								<li th:each="blog : ${recommendBlogs}" style="list-style: none;padding: 6px;width: 100%;">
									<i class="hand point right icon red m-text-thin m-text-spaced m-opacity-tiny"></i>
									<a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}"
									   style="max-width: 170px;white-space: nowrap;display: inline-block;overflow: hidden;text-overflow: ellipsis;">Spring Boot 入门</a>
									<span class=" m-text-thin m-text-spaced m-opacity-tiny" style="float: right;">[[${#dates.format(blog.updateTime,'yyyy-MM-dd')}]]</span>
								</li>
							</div>
						</div>

						<!-- 阅读最多文章 -->
						<div class="ui segments m-margin-top-large m-box-shadow">
							<div class="ui segment center aligned">
								<div class="ui item m-text-thin m-text-spaced m-opacity-tiny">
									<div class="column"><i class="eye blue icon"></i>阅读最多文章</div>
								</div>
							</div>
							<div class="ui segment teal">
								<li th:each="blog : ${newestBlogs}" style="list-style: none;padding: 6px;width: 100%;">
									<i class="hand point right icon red m-text-thin m-text-spaced m-opacity-tiny"></i>
									<a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}"
									   style="max-width: 170px;white-space: nowrap;display: inline-block;overflow: hidden;text-overflow: ellipsis;">Spring Boot 入门</a>
									<span class=" m-text-thin m-text-spaced m-opacity-tiny" style="float: right;">[[${blog.views}]] 次浏览</span>
								</li>
							</div>
						</div>
					</div>

					<!-- 右侧部分 博客文章列表 -->
					<div class="eleven wide column">
						<!-- header，显示博客文章总数 -->
						<div class="ui top segment m-box-shadow">
							<div class="ui middle aligned two column grid">
								<div class="column"><h3 class="ui blue header">博客文章列表</h3></div>
								<div class="right aligned column">
									共 <h2 class="ui orange header m-inline-block" th:text="${page.totalElements}"> 1024 </h2> 篇
								</div>
							</div>
						</div>
		
						<!-- 博客文章列表 -->
						<div class="ui segment m-box-shadow" th:each="blog,iterStat : ${page.content}">
							<div class="ui vertical m-padded-mini segment" th:if="${iterStat.count} % 2 == 0">
								<!-- style="border-bottom: 1px solid rgba(34,36,38,.15);" -->
								<div class="ui stackable mobile reversed grid middle aligned">
									<div class="eleven wide column">
										<h3 class="ui header center aligned">
											<a target="_blank" th:href="@{/blog/{id}(id=${blog.id})}" class="m-black" th:text="${blog.title}">
												你真的理解什么是财富自由吗？
											</a>
										</h3>
										<p class="m-text" th:text="|${blog.description}...|">金钱和女人，是人生犯错的根源...</p>
									</div>
									<div class="five wide column">
										<a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
											<img th:src="@{${blog.firstPicture}}" class="ui rounded image"/>
										</a>
									</div>
								</div>
								<div class="ui grid m-text-thin m-text-spaced middle aligned">
									<div class="twelve wide column m-padded-tiny-blog">
										<div class="ui mini horizontal link list">
											<div class="item">
												<!-- 作者头像：url 中的两个 100 指的是图片的宽度和高度 -->
												<img src="https://unsplash.it/100/100?image=1033" th:src="@{${blog.user.avatar}}" class="ui avatar image">
												<div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">何年の再遇见</a></div>
											</div>
											<div class="item m-mobile-hide">创建时间：[[${#dates.format(blog.createTime,'yyyy-MM-dd')}]]</div>
											<div class="item">浏览：[[${blog.views}]] 次</div>
											<div class="item m-mobile-hide">最近更新：[[${#dates.format(blog.updateTime,'yyyy-MM-dd')}]]</div>
										</div>
									</div>
									<div class="right aligned four wide column m-padded-tiny-blog" style="padding-right: 14px !important;">
										<a href="#" target="_blank" class="ui teal label m-padded-tiny-blog m-text-thin" th:text="${blog.category.name}">财富知识</a>
									</div>
								</div>
							</div>
							<div class="ui vertical m-padded-mini segment" th:if="${iterStat.count} % 2 == 1">
								<div class="ui stackable grid middle aligned">
									<div class="five wide column">
										<a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
											<img th:src="@{${blog.firstPicture}}" class="ui rounded image"/>
										</a>
									</div>
									<div class="eleven wide column">
										<h3 class="ui header center aligned">
											<a target="_blank" th:href="@{/blog/{id}(id=${blog.id})}" class="m-black" th:text="${blog.title}">
												你真的理解什么是财富自由吗？
											</a>
										</h3>
										<p class="m-text" th:text="|${blog.description}...|">金钱和女人，是人生犯错的根源...</p>
									</div>
								</div>
								<div class="ui grid m-text-thin m-text-spaced middle aligned">
									<div class="twelve wide column m-padded-tiny-blog">
										<div class="ui mini horizontal link list">
											<div class="item">
												<!-- 作者头像：url 中的两个 100 指的是图片的宽度和高度 -->
												<img src="https://unsplash.it/100/100?image=1033" th:src="@{${blog.user.avatar}}" class="ui avatar image">
												<div class="content"><a th:href="@{/about}" class="header" th:text="${blog.user.nickname}">何年の再遇见</a></div>
											</div>
											<div class="item m-mobile-hide">创建时间：[[${#dates.format(blog.createTime,'yyyy-MM-dd')}]]</div>
											<div class="item">浏览：[[${blog.views}]] 次</div>
											<div class="item m-mobile-hide">最近更新：[[${#dates.format(blog.updateTime,'yyyy-MM-dd')}]]</div>
										</div>
									</div>
									<div class="right aligned four wide column m-padded-tiny-blog" style="padding-right: 14px !important;">
										<a th:href="@{'/categories/' + ${blog.category.id}}" class="ui teal label m-padded-tiny-blog m-text-thin" th:text="${blog.category.name}">财富知识</a>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 上一页/下一页的按钮 -->
						<div class="ui segment" style="border: none;border-radius: 0;box-shadow: none;" th:if="${page.totalPages} > 1">
							<div class="ui middle aligned two column grid">
								<div class="column right aligned">
									<a th:href="@{/(page=${page.number} - 1)}" th:unless="${page.first}"  class="ui teal basic button">上一页</a>
								</div>
								<div class="column left aligned">
									<a th:href="@{/(page=${page.number} + 1)}" th:unless="${page.last}"  class="ui teal basic button">下一页</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 页面底部 -->
		<footer th:replace="fragment/front_fragment :: footer"></footer>

		<!-- JS 部分 -->
		<th:block th:replace="fragment/front_fragment :: script"></th:block>
		<script>
			$('.menu.toggle').click(function() {
				$('.m-item').toggleClass('m-mobile-hide');    // 此行代码表示：如果有 m-mobile-hide 样式，那就去除，没有就加上
			});
		</script>
	</body>
</html>
