<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/front_fragment :: head(~{::title})">
    <title>何年の再遇见-博客首页</title>
</head>
<body>
<!-- 导航部分 -->
<nav th:replace="fragment/front_fragment :: navigation(5)"></nav>

<!-- 内容部分 -->
<div class="m-padded-tb-large">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                    <div class="content">
                        <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                        <div class="header">
                            Elliot Fu
                        </div>
                        <div class="meta">
                            Friends of Veronika
                        </div>
                        <div class="description">
                            Elliot requested permission to view your contact details
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <div class="ui basic green button">Approve</div>
                            <div class="ui basic red button">Decline</div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui cards">
                    <div class="card m-box-shadow">
                        <div class="content">
                            <img class="right floated mini ui image" src="https://zijieke.com/semantic-ui/images/avatar/large/elliot.jpg">
                            <div class="header">
                                Elliot Fu
                            </div>
                            <div class="meta">
                                Friends of Veronika
                            </div>
                            <div class="description">
                                Elliot requested permission to view your contact details
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui basic green button">Approve</div>
                                <div class="ui basic red button">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 页面底部 -->
<footer th:replace="fragment/front_fragment :: footer"></footer>

<!-- JS 部分 -->
<th:block th:replace="fragment/front_fragment :: script"></th:block>
<script>
    $('.menu.toggle').click(function() {
        $('.m-item').toggleClass('m-mobile-hide');    // 此行代码表示：如果有 m-mobile-hide 样式，那就去除，没有就加上
    });
</script>
</body>
</html>